:root {
  font-family: var(--font-geist-sans), sans-serif;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

.bg-gradient-primary {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
  min-height: 100vh;
}

/* Card */
.card {
  border-radius: 1rem;
}

/* Inputs arredondados */
.form-control-user {
  border-radius: 50px;
  padding: 0.9rem 1rem;
  font-size: 0.9rem;
}

.btn-user {
  border-radius: 50px;
  padding: 0.8rem 1rem;
}

/* Google */
.btn-google {
  background: #ea4335;
  color: white;
  border: none;
}

.btn-facebook {
  background: #3b5998;
  color: white;
  border: none;
}
